body {
    background-color: #fdfdfd;
    text-align: center;
    align-items: center;
    margin-left: 23px;
    margin-top: 15px;
}

header {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-left: 72px;
    margin-right: 60px;
}

mark {
    background-color: #fdfdfd;
}

#logo, #page_name, #pkw {
    flex-grow: 1;
}

#year {
    flex-grow: 3;
}

#page_name h1 {
    text-align: right;
}

#year h1 {
    font-size: 55px;
    text-align: left;
    color: #b00000;
}

table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 1px;
    background-color: #909090;
    font-weight: normal;
}

th, td:first-child {
    font-weight: bold;
}

tr {
    text-align: center;
}

tr:first-child {
    background-color: #e0e0e0;
}

tr:nth-child(2n+3) {
    background-color: #d0e5e5;
}

tr:nth-child(2n) {
    background-color: #f8f8f8;
}

#provinces {
    width: 85%;
    margin-bottom: 2em;
}

#candidates {
    width: 60%;
    margin-bottom: 2em;
}

#candidates td:nth-child(2) {
    font-weight: bold;
}

a:link {
    color: #0020a0;
    text-decoration: none;
}

a:visited {
    color: #002050;
    text-decoration: none;
}

a:hover {
    color: #d00000;
    text-decoration: underline;
}

#login {
    margin-left: 6em;
    text-align: left;
}

#search {
    margin-right: 6em;
    text-align: right;
}

#login div {
    margin: 0.5em;
}

tr input {
    width: 6em;
}